/* _filters.scss */

.filters{
	overflow: hidden;
	padding: .25em;

	font-size: .9em;
	font-weight: 500;

	background: #E4FFE4;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.filters .filter, .filters .amount{
	float: left;
	margin: .5em 0;
	width: 17.5%;
}

.filters h2{
	float: left;
	margin: .5em 0;
	padding: .725em 1em;
	width: 10%;

	font-weight: 500;
	font-size: 1em;
	font-style: italic;
}

.filters .filter{
	padding: .5em;

	background: rgba(255,255,255,.25);
	border: 1px solid #B2D5A7;

	cursor: pointer;
}

.filters .filter:hover{ background: rgba(255,255,255,.5); }

.filters .text-filter:focus{ border-style: dashed; }

.filters .amount{
	padding: 1em .5em;

	font-size: .75em;

	text-align: right;
}
