@import 'normalize';

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Fauna One', Helvetica, Arial, sans-serif;
}

a{
	font-weight: 500;
}

@import 'header';

@import 'filters';

.big-error{
	display: none;
	padding-top: 1em;

	text-align: center;

	font-size: 5em;

	color: #DADADA;
}

.big-error-shown{ display: block; }

main{
	overflow: hidden;
	display: block;
}

main ul li, .more-detail h1{ color: #383838; }

main ul li{
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: .25em 1.25em;
	width: (100%/6);

	list-style: none;

	font-size: .5em;

	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
}

main ul li:hover{
	background: #FF0085;
	color: #FFF;

	cursor: pointer;
}

main ul li.current{
	background: #464646;
	color: #F5F5F5;
}

.more-detail{
	position: fixed;
	top: 0; left: 0; right: 0;
	overflow: hidden;

	white-space: nowrap;
	background: #FF0085;
	color: #FFF;

	transition: transform .35s, opacity .45s;
	transform-origin: left;
}

.more-detail-hidden{
	transform: translateX(-100%);
	opacity: 0;
}

.more-detail h1{
	float: left;
	width: 20%;
	color: #FAFAFA;
	font-size: 1.5em;
}

.more-detail h1 a{
	color: inherit;
	text-decoration: none;
}

.more-detail h1 a:hover{ border-bottom: 1px dashed; }

.more-detail .text-hidden{ display: none; }

.more-detail p a, .unavailable, .taken{
	font-weight: 600;
	text-decoration: none;
}

.more-detail p a{
	padding: 0;
	color: #3A3939;
}

.more-detail p a span{
	margin: 0 .25em;
	padding: 5px;

	border: 1px solid;

	transition: background .1s;
}

.more-detail .loading, .more-detail .errors,
.more-detail .availability, .more-detail .suffix{
	padding: 2em .75em;
	width: 40%;
	float: left;
}

.more-detail .button{
	position: absolute;
	top: 1em; right: 0;
	padding: .5em;

	font-size: 1.15em;
	font-weight: 600;

	background: #F7E5F8;
	color: #5C5C5C;

	cursor: pointer;
}

.more-detail .button:hover{	background: #F5F5F5; }

.more-detail .close{
	font-weight: 500;
}

.more-detail .suffix{
	font-weight: normal;
	color: #FFF;
}

.more-detail .suffix span{
	font-weight: 600;
	color: #333232;
}

.more-detail .loading-ellipsis{
	display: inline-block;
	width: 0;
	line-height: 1em;
	margin-left: 1px;
	overflow: hidden;

	animation: ellipsis .5s infinite alternate;
}

@keyframes ellipsis{
	100%{ width: 8px; }
}

.more-detail p a span:hover, .more-detail .suffix:hover span{
	background: rgba(255,255,255,.1);
	border-style: dashed;
}

.fullstop{ color: #383838; }

.taken, .unavailable{	color: #464646; }
.available{ 			color: #96FF88; }
.maybe{					color: #FFDA94; }
.unknown{ 				color: #B0B0FF; }

.available-item{	background-color: #96FF88; }
.maybe-item{		background-color: #FFDA94; }
.unknown-item{		background-color: #B0B0FF; }
.taken-item, .unavailable-item, .dead-item{
	background-color: #948686;
	color: #F5F5F5;
}

@media all and (max-width: 1000px){	main ul li{ width: (100%/5); } }

@media all and (max-width: 900px){
	main ul li{ width: (100%/4); }
}

@media all and (max-width: 800px){

	header h1{
		padding: 1em .5em;
		width: 100%;
	}

	header .description{
		text-align: left;
	}

	header .description,
	header .built-by{
		padding: 1em;
		width: 50%;
		margin-bottom: .5em;
	}

	header{ font-size: .75em; }

	.filters h2, .filters .filter{
		width: (100%/4);
	}

	.filters .amount{ width: (100%/2); }

	main ul li{ width: (100%/3); }

}

@media all and (max-width: 600px){
	main ul li{ font-size: .75em; }
}

@media all and (max-width: 500px){

	.filters h2, .filters .filter{
		width: (100%/2);
	}

	.filters .amount{
		width: 100%;
		text-align: center;
	}

	.more-detail h1, .more-detail .suffix{
		display: none;
	}

	.more-detail .loading, .more-detail .errors,
	.more-detail .availability{
		width: 100%;
		float: none;
	}

	main ul li{ width: (100%/2); }

}

@media all and (max-width: 350px){
	main ul li{
		width: 100%;
	}

	header h1{
		width: 100%;
	}

	header .built-by{
		display: none;
	}
}


@media all and (max-width: 350px){
	main ul li{
		width: 100%;
	}
}
