*{
	margin: 0;
	padding: 0;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

main, header{
	display: block;
	width: 70%;
	margin: 1em auto;
	font-family: monospace;
}

main h3{
	margin: 1em 0;
	font-size: .85em;
	font-weight: 200;
}

main p{
	margin-right: .5em;
	font-size: 1.25em;
	font-weight: bold;
	display: inline-block;
}

main p::after, main p::before{
	color: #DDD;
	display: inline-block;
}

main p::before{ content: '('; }
main p::after{ content: ')'; }

.available{ color: green; }
.unavailable{ color: gray; }
.taken{ color: red; }
.maybe{ color: blue; }
.unknown{ color: pink; }

main p a{
	text-decoration: none;
	color: inherit;
}

main p a:hover{ opacity: 0.9; }