*{ margin: 0; padding: 0; box-sizing: border-box; }

body{ text-transform: lowercase; font-family: Helvetica, Arial, sans-serif; }

header, .side{ background-color: rgb(247, 247, 247); }

header, .more-detail{
	height: 100px;
	padding: 5px 0;
}

header{
	opacity: 1;
	transition: opacity .5s;
}

.header-hidden{ opacity: 0; }

header h1{ font-size: 1.5em; }

header h1, header p,
.more-detail h1, .more-detail p{
	display: inline-block;
	padding: 1em;
}

main{ display: block; }

header h1, main ul li, .more-detail h1{ color: #383838; }

.side{
	overflow-y: hidden;
	overflow-x: auto;
	border: 1px solid rgba(0,0,0,.1);
}

.side ul li, main ul li{ transition: .1s; }

.side ul li{
	float: left;
	padding: 5px;
	font-size: .85em;
	font-weight: 900;
	color: rgba(0,0,0,0.8);
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	list-style: none;
	text-align: center;
}

.side ul li:nth-child(even){ background: rgba(0,0,0,.05); }

.side ul li:hover, main ul li:hover{
	cursor: pointer;
	color: #FFF;
	background: #FF0085;
}

.side ul li:active, main ul li:active{
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1);
}

.alpha-side ul li{ width: 3.7%; }

main ul li{
	float: left;
	padding: 10px;
	width: 25%;
	list-style: none;
	font-size: .5em;
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
}

main ul li.current{ background: #383838; color: #FFF; }

.more-detail{
	position: fixed;
	top: 0; left: 0; right: 0;
	background: #FF0085;
	color: #FFF;
	white-space: nowrap;
	width: 0%;
	opacity: 0;
	padding: 5px 0;
	overflow: hidden;
	transition: width .5s, opacity .25s;
}

.more-detail-shown{ width: 100%; opacity: 1; }

.more-detail .button{
	padding: 10px 15px;
	font-size: 15px;
	font-weight: 900;
	background: #DDD;
	color: #5C5C5C;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

.more-detail .button:hover{	background: #F5F5F5; }

.more-detail h1{
	color: #FAFAFA;
	font-size: 1.5em;
}

.more-detail p a, .unavailable, .taken{
	font-weight: 900;
	text-decoration: none;
}

.more-detail p a{ color: #3A3939; }

.fullstop{ color: #383838; }

.available{ color: #96FF88; }
.unavailable{ color: #DDD;}
.taken{ color: #FFC5C5; }
.maybe{ color: #FFDA94; }
.unknown{ color: #B0B0FF; }