*{ margin: 0; padding: 0; box-sizing: border-box; }

body{ font-family: Helvetica, Arial, sans-serif; }

.top{ position: fixed; top: 0; left: 0; right: 0; }

header, .side{ background-color: rgb(247, 247, 247); }

header, .more-detail{
	height: 100px;
	padding: 5px 0;
}

header{
	color: #383838;
	transition: color .5s;
}

.header-hidden{ color: transparent; }

header h1{ font-size: 1.5em; }

header h1, header p,
.more-detail h1, .more-detail p{
	display: inline-block;
	padding: 1em;
}

header p a{
	color: #FF0085;
	font-weight: 900; 
	text-decoration: none;
}
header p a:hover{ border-bottom: 1px dashed; }

main{
	overflow: hidden;
	border-left: 1px solid rgba(0,0,0,.1);
	display: block;
	padding-top: 130px;
}

main ul li, .more-detail h1{ color: #383838; }

.side{
	overflow-y: hidden;
	overflow-x: auto;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

.side ul li, main ul li{ transition: .1s; }

.side ul li{
	height: 30px;
	float: left;
	padding: 5px;
	font-size: .85em;
	font-weight: 900;
	color: rgba(0,0,0,0.8);
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
	list-style: none;
	text-align: center;
}

.side ul li:nth-child(even){ background: rgba(0,0,0,.05); }

.side ul li:hover, main ul li:hover{
	cursor: pointer;
	color: #FFF;
	background: #FF0085;
}

.side ul li:active, main ul li:active{
	box-shadow: inset 0 0 2px 2px rgba(0,0,0,.1);
}

.alpha-side ul li{ width: 3.7%; }

main ul li{
	float: left;
	padding: 10px;
	width: 16.66%;
	text-align: center;
	list-style: none;
	font-size: .5em;
	border-bottom: 1px solid rgba(0,0,0,.1);
	border-right: 1px solid rgba(0,0,0,.1);
}

main ul li.current{ background: #948686; color: #F5F5F5; }

.more-detail{
	position: fixed;
	top: 0; left: 0; right: 0;
	background: #FF0085;
	color: #FFF;
	white-space: nowrap;
	width: 0%;
	opacity: 0;
	padding: 5px 0;
	overflow: hidden;
	transition: width .5s, opacity .25s;
}

.more-detail-shown{ width: 100%; opacity: 1; }

.more-detail h1{
	color: #FAFAFA;
	font-size: 1.5em;
}

.more-detail h1 a{
	color: inherit;
	text-decoration: none; 
}

.more-detail h1 a:hover{ border-bottom: 1px dashed; }

.more-detail p{	display: inline-block; }
.more-detail .text-hidden{ display: none; }

.more-detail .definition{ font-style: italic; }

.more-detail p a, .unavailable, .taken{
	font-weight: 900;
	text-decoration: none;
}

.more-detail p a{
	color: #3A3939;
}

.more-detail p a span, .more-detail .define{
	margin: 0 .25em;
	padding: 5px;
	border: 1px solid;
	transition: background .1s;
}

.more-detail .button{
	margin-top: 25px;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: 900;
	background: #DDD;
	color: #5C5C5C;
	float: right;
	margin-left: 5px;
	cursor: pointer;
}

.more-detail .button:hover{	background: #F5F5F5; }

.more-detail .define{
	background: none;
	color: #464646;
}

.more-detail .suffix{ color: #FFF; font-weight: normal; }
.more-detail .suffix span{ color: #464646; font-weight: 900; }

.more-detail p a span:hover, .more-detail .suffix:hover span, .more-detail .define:hover{ background: rgba(255,255,255,.1); border-style: dashed; }

.fullstop{ color: #383838; }

.taken, .unavailable{ color: #464646; }
.available{ color: #96FF88; }
.maybe{ color: #FFDA94; }
.unknown{ color: #B0B0FF; }

.taken-item, .unavailable-item{ background-color: #464646; color: #F5F5F5; }
.available-item{ background-color: #96FF88; }
.maybe-item{ background-color: #FFDA94; }
.unknown-item{ background-color: #B0B0FF; }

/* resize the domain items */
@media all and (max-width: 1000px){ main ul li{ width: 25%;    } }
@media all and (max-width: 600px){  main ul li{ width: 33.33%; } }
@media all and (max-width: 400px){  main ul li{ width: 50%;    } }
@media all and (max-width: 250px){  main ul li{ width: 100%;   } }
