extends layout

block content
	.top
		header
			h1 dandydomains
			p Words that are domains and stuff.
			p.built-by
					| Built by 
					a(href='http://github.com/zaccolley/dandydomains') Zac &amp; Peter
		.filters
				h2 Filters:
				input.filter.text-filter(type='text', placeholder='--')
				select.filter.domain-filter
					option(value='none') --
					-for(var d = 0; d < tlds.length; d++)
						-var tld = tlds[d];
						option(value='.'+tld)= '.'+tld
				select.filter.sort-filter
					option(value='rand') Random
					option(value='asc') A-Z
					option(value='desc') Z-A
				p.amount
					.more-detail
						.button.close X
						//.button.define Define word
						.url

						h1
						p.loading
							| Information loading
							span.loading-ellipsis ...
						p.errors
						p.availability
						p.suffix
						p.definition
	main
		ul
			-for(var d = 0; d < 500; d++)
				-var rand = Math.floor((Math.random() * domains.length)+1);
				-var domain = domains[rand];
				li
					h1= domain
	h1.big-error No domains found! :¬)

	script(src='js/lib/jquery.js')
	script(src='js/lib/jquery.tinysort.js')
	script(src='js/scripts.min.js')
