extends layout

block content
   .top
      header
        h1 dandydomains
        p Words that are domains and stuff&period;
        p.built-by
          | Built by
          a(href='http://github.com/zaccolley/dandydomains') Zac Colley
          | &period;
      .filters
        h2 Filters&colon;
        input.filter.text-filter(type='text', placeholder='--')
        select.filter.domain-filter
          option(label='', value='none') --
          option(value='.ac') ac
          option(value='.ad') ad
          option(value='.ae') ae
          option(value='.aero') aero
          option(value='.af') af
          option(value='.ag') ag
          option(value='.ai') ai
          option(value='.al') al
          option(value='.am') am
          option(value='.an') an
          option(value='.ao') ao
          option(value='.aq') aq
          option(value='.ar') ar
          option(value='.arpa') arpa
          option(value='.as') as
          option(value='.asia') asia
          option(value='.at') at
          option(value='.au') au
          option(value='.aw') aw
          option(value='.ax') ax
          option(value='.az') az
          option(value='.ba') ba
          option(value='.bb') bb
          option(value='.bd') bd
          option(value='.be') be
          option(value='.bf') bf
          option(value='.bg') bg
          option(value='.bh') bh
          option(value='.bi') bi
          option(value='.biz') biz
          option(value='.bj') bj
          option(value='.bm') bm
          option(value='.bn') bn
          option(value='.bo') bo
          option(value='.br') br
          option(value='.bs') bs
          option(value='.bt') bt
          option(value='.bv') bv
          option(value='.bw') bw
          option(value='.by') by
          option(value='.bz') bz
          option(value='.ca') ca
          option(value='.cat') cat
          option(value='.cc') cc
          option(value='.cd') cd
          option(value='.cf') cf
          option(value='.cg') cg
          option(value='.ch') ch
          option(value='.ci') ci
          option(value='.ck') ck
          option(value='.cl') cl
          option(value='.cm') cm
          option(value='.cn') cn
          option(value='.co') co
          option(value='.com') com
          option(value='.coop') coop
          option(value='.cr') cr
          option(value='.cs') cs
          option(value='.cu') cu
          option(value='.cv') cv
          option(value='.cx') cx
          option(value='.cy') cy
          option(value='.cz') cz
          option(value='.dd') dd
          option(value='.de') de
          option(value='.dj') dj
          option(value='.dk') dk
          option(value='.dm') dm
          option(value='.do') do
          option(value='.dz') dz
          option(value='.ec') ec
          option(value='.edu') edu
          option(value='.ee') ee
          option(value='.eg') eg
          option(value='.eh') eh
          option(value='.er') er
          option(value='.es') es
          option(value='.et') et
          option(value='.eu') eu
          option(value='.fi') fi
          option(value='.fj') fj
          option(value='.fk') fk
          option(value='.fm') fm
          option(value='.fo') fo
          option(value='.fr') fr
          option(value='.ga') ga
          option(value='.gb') gb
          option(value='.gd') gd
          option(value='.ge') ge
          option(value='.gf') gf
          option(value='.gg') gg
          option(value='.gh') gh
          option(value='.gi') gi
          option(value='.gl') gl
          option(value='.gm') gm
          option(value='.gn') gn
          option(value='.gov') gov
          option(value='.gp') gp
          option(value='.gq') gq
          option(value='.gr') gr
          option(value='.gs') gs
          option(value='.gt') gt
          option(value='.gu') gu
          option(value='.gw') gw
          option(value='.gy') gy
          option(value='.hk') hk
          option(value='.hm') hm
          option(value='.hn') hn
          option(value='.hr') hr
          option(value='.ht') ht
          option(value='.hu') hu
          option(value='.id') id
          option(value='.ie') ie
          option(value='.il') il
          option(value='.im') im
          option(value='.in') in
          option(value='.info') info
          option(value='.int') int
          option(value='.io') io
          option(value='.iq') iq
          option(value='.ir') ir
          option(value='.is') is
          option(value='.it') it
          option(value='.je') je
          option(value='.jm') jm
          option(value='.jo') jo
          option(value='.jobs') jobs
          option(value='.jp') jp
          option(value='.ke') ke
          option(value='.kg') kg
          option(value='.kh') kh
          option(value='.ki') ki
          option(value='.km') km
          option(value='.kn') kn
          option(value='.kp') kp
          option(value='.kr') kr
          option(value='.kw') kw
          option(value='.ky') ky
          option(value='.kz') kz
          option(value='.la') la
          option(value='.lb') lb
          option(value='.lc') lc
          option(value='.li') li
          option(value='.lk') lk
          option(value='.lr') lr
          option(value='.ls') ls
          option(value='.lt') lt
          option(value='.lu') lu
          option(value='.lv') lv
          option(value='.ly') ly
          option(value='.ma') ma
          option(value='.mc') mc
          option(value='.md') md
          option(value='.me') me
          option(value='.mg') mg
          option(value='.mh') mh
          option(value='.mil') mil
          option(value='.mk') mk
          option(value='.ml') ml
          option(value='.mm') mm
          option(value='.mn') mn
          option(value='.mo') mo
          option(value='.mobi') mobi
          option(value='.mp') mp
          option(value='.mq') mq
          option(value='.mr') mr
          option(value='.ms') ms
          option(value='.mt') mt
          option(value='.mu') mu
          option(value='.museum') museum
          option(value='.mv') mv
          option(value='.mw') mw
          option(value='.mx') mx
          option(value='.my') my
          option(value='.mz') mz
          option(value='.na') na
          option(value='.name') name
          option(value='.nc') nc
          option(value='.ne') ne
          option(value='.net') net
          option(value='.nf') nf
          option(value='.ng') ng
          option(value='.ni') ni
          option(value='.nl') nl
          option(value='.no') no
          option(value='.np') np
          option(value='.nr') nr
          option(value='.nu') nu
          option(value='.nz') nz
          option(value='.om') om
          option(value='.org') org
          option(value='.pa') pa
          option(value='.pe') pe
          option(value='.pf') pf
          option(value='.pg') pg
          option(value='.ph') ph
          option(value='.pk') pk
          option(value='.pl') pl
          option(value='.pm') pm
          option(value='.pn') pn
          option(value='.post') post
          option(value='.pr') pr
          option(value='.pro') pro
          option(value='.ps') ps
          option(value='.pt') pt
          option(value='.pw') pw
          option(value='.py') py
          option(value='.qa') qa
          option(value='.re') re
          option(value='.ro') ro
          option(value='.rs') rs
          option(value='.ru') ru
          option(value='.rw') rw
          option(value='.sa') sa
          option(value='.sb') sb
          option(value='.sc') sc
          option(value='.sd') sd
          option(value='.se') se
          option(value='.sg') sg
          option(value='.sh') sh
          option(value='.si') si
          option(value='.sj') sj
          option(value='.sk') sk
          option(value='.sl') sl
          option(value='.sm') sm
          option(value='.sn') sn
          option(value='.sr') sr
          option(value='.ss') ss
          option(value='.st') st
          option(value='.su') su
          option(value='.sv') sv
          option(value='.sx') sx
          option(value='.sy') sy
          option(value='.sz') sz
          option(value='.tc') tc
          option(value='.td') td
          option(value='.tel') tel
          option(value='.tf') tf
          option(value='.tg') tg
          option(value='.th') th
          option(value='.tj') tj
          option(value='.tk') tk
          option(value='.tl') tl
          option(value='.tm') tm
          option(value='.tn') tn
          option(value='.to') to
          option(value='.tp') tp
          option(value='.tr') tr
          option(value='.travel') travel
          option(value='.tt') tt
          option(value='.tv') tv
          option(value='.tw') tw
          option(value='.tz') tz
          option(value='.ua') ua
          option(value='.ug') ug
          option(value='.uk') uk
          option(value='.us') us
          option(value='.uy') uy
          option(value='.uz') uz
          option(value='.va') va
          option(value='.vc') vc
          option(value='.ve') ve
          option(value='.vg') vg
          option(value='.vi') vi
          option(value='.vn') vn
          option(value='.vu') vu
          option(value='.wf') wf
          option(value='.ws') ws
          option(value='.xxx') xxx
          option(value='.ye') ye
          option(value='.yt') yt
          option(value='.yu') yu
          option(value='.za') za
          option(value='.zm') zm
          option(value='.zw') zw
        select.filter.sort-filter
          option(value='rand') Random
          option(value='asc') A-Z
          option(value='desc') Z-A
        p.amount
      .more-detail
        .button.close X
        .button.define Define word
        .url
        h1
        p.loading
          | Information loading
          span.loading-ellipsis &period;&period;&period;
        p.errors
        p.availability
        p.suffix
        p.definition
    main
      ul
        // DOMAINS GO HERE
    h1.big-error No domains found&excl; &colon;&lpar;
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='js/build/scripts.min.js')
