doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		title dandydomains - Zac Colley & Peter Jones :D
		link(rel='stylesheet', type='text/css', href='css/build/style.min.css')
	body
		block content
